@mixin small() {
    @media only screen and (max-width: 460px) {
        @content;
    }
}

body.flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    header {
        flex: 0 95px;
        display: flex;
        flex-flow: row nowrap;
        section:nth-child(1) {
            flex: 0 0 95px;
        }
        section:nth-child(2) {
            flex: 1 0 200px;
        }
        section:nth-child(3) {
            flex: 3 1 600px;
        }
    }
    article {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 auto;
        section:nth-child(1) {
            flex: 1;
        }
        section:nth-child(2) {
            flex: 3;
            .entry {
                margin: 12px 8px;
                >label {
                    position: relative;
                    top: 2px;
                    width: 195px;
                    flex: 0 0 auto;
                    @include small() {
                        margin-bottom: 4px;
                    }
                }
                >input {
                    flex: 1;
                }
                display: flex;
                flex-flow: row nowrap;
                @include small() {
                    flex-direction: column;
                }
            }
        }
        @include small() {
            flex-direction: column;
        }
    }
    footer {
        flex: 0 40px;
        display: flex;
        flex-flow: row nowrap;
        section:nth-child(1) {
            flex: 1 1 300px;
        }
        section:nth-child(2) {
            flex: 2 2 300px;
        }
    }
}